* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    background-color: var(--main-bg-color);
    --main-bg-color: #e7dfdc;
    --second-bg-color: #ac2828;
    --text-color: #ffffff;
    --main-color: #990d0d;
    --third-bg-color: #ebbfaf;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--main-bg-color);

}

section {
    padding: 10em 8%;
}

header {
    background-color: var(--second-bg-color);
    position: fixed;
    width: 100vw;
    padding: 3% 5% 3%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar a {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 3rem;
}

div.foto-menu img {
    min-height: 40vh;
    padding-top: 15%;
    padding-bottom: 8%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: block;
    background-size: cover;
    color: var(--second-bg-color);
}


.main {
    background-color: var(--third-bg-color);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

div.texto {
    flex: 1;
    justify-content: space-between;
    margin-left: 2rem;


}

div.texto h3 {
    font-size: 2rem;
    color: var(--main-color);
    margin: 1rem;
}

div.texto p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 1rem
}

div.imagem {
    align-items: center;
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.imagem div {
    justify-content: space-between;
    margin: 2rem 6rem 2rem 2rem;
}

div.imagem img {
    display: block;
    margin: auto;
    width: 16rem;
    border: var(--main-color) solid .2rem;
}

div.imagem p {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 1rem;
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 16rem;

}

footer div {

    border-bottom: 6rem solid var(--main-color);
    width: 100%;
    height: 10px
}