* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    background-color: var(--main-color);
    --main-bg-color: #e7dfdc;
    --second-bg-color: #bd5c5c;
    --text-color: #ffffff;
    --main-color: #990d0d;
    --third-bg-color: #d39d9d;
}

nav {
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    padding: 2%;
    justify-content: center;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    width: 80%;
}

nav a {
    font-size: 1.2rem;
    color: var(--text-color);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 1rem;
}

nav ul a:not(:nth-last-child(1)) {
    border-right: 2px solid var(--text-color);
}

header {
    background-color: var(--second-bg-color)
}

header img {
    min-height: 40%;
    padding-top: 10%;
    padding-bottom: 5%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}


main {
    background-color: var(--third-bg-color);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

section.texto {
    width: 50%;
    padding: 4rem;
}

section.texto div {
    margin-bottom: 4rem;
}

section.texto h3 {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: .5rem;
}

section.texto p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

section.imagem {
    width: 50%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

.linha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.imagem img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: var(--main-color) solid .3rem;
}

div.imagem p {
    background-color: var(--main-color);
    color: var(--text-color);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;

}

footer {
    border-bottom: 4rem solid var(--main-color);
}